body{
  background-image: url('img/blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}
.App {
  text-align: center;
}

.Input{
  border-radius: 10px;
  height: 20px;
  width: 250px;
}

.Button{
  color: blue;
}

.col50{
  width: 50%;
  float: left;
  margin-top: 100px;
}

.form {
    margin-top: -20px;
}


.center{
  margin-bottom: -50px;
}

.weather__info {
  margin-top: 10%;
}

.weather__key {
  color:black;
}



